{{!< default}}

{{#post}}
<article class="page-translated">
    <header class="page-header">
        <div class="container">
            <h1>{{title}}</h1>
        </div>
    </header>

    <div class="container">
        <div class="content-body">
            {{content}}
        </div>
    </div>
</article>
{{/post}}

{{> newsletter}}
